<ion-header>
  <ion-toolbar>
    <ion-title>G00472873</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label class="one-line-label" position="floating">
      <strong>Enter Ingredients</strong>
    </ion-label>
    <ion-input [(ngModel)]="searchQuery"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchRecipes()">
    Search
  </ion-button>

  <!-- Featured Recipe -->
  <div *ngIf="featuredRecipe" class="featured-recipe">
    <img [src]="featuredRecipe.image" width="65%" />
    <h2>{{ featuredRecipe.title }}</h2>
    <ion-button [routerLink]="['/recipe-details', featuredRecipe.id]">
      View Details
    </ion-button>
  </div>

  <!-- Other Recipes -->
  <ion-list *ngIf="otherRecipes.length > 0">
    <ion-item *ngFor="let recipe of otherRecipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image">
      </ion-thumbnail>
      <ion-label>
        {{ recipe.title }}
      </ion-label>
      <ion-button slot="end" [routerLink]="['/recipe-details', recipe.id]">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
